@import '../../utils/theme.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  height: 100%;

  button {
    width: 90%;
    flex: 1;
    margin-bottom: 1.5rem;

    &:first-child {
      margin-top: 1rem;
    }
  }

  @media only screen and (max-width: $tabletMax) {
    height: 100vh;
  }
}